<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Simplify Text - About</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/style1.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <h1>Simplify Text</h1>
    <nav>
      <a href="#" id="servicesButton">Services</a>
    </nav>
  </header>
  <main>
    <section id="about">
      <h2>About Simplify</h2>
      <p>Simplify bridges the gap between complex information and its audience. It uses advanced AI (T5 transformer model) to transform difficult text into clear, concise language. It empowers everyone to access and understand important information, regardless of their reading level.</p>
      <ul>
        <li>Enhanced Readability: Grasp information easily and save time struggling with complex text.</li>
        <li>Accessibility for All: Makes information approachable for a wider audience.</li>
        <li>Inclusive Learning: Promotes inclusivity by making knowledge accessible to everyone.</li>
      </ul>
    </section>
    <div id="contact-info" class="contact-info">
      <h3>Contact Us</h3>
      <p>Phone: +91 8891229971</p>
      <p>Email: simplify.ekm@gmail.com</p>
    </div>
  </main>
  <script src="{{ url_for('static', filename='js/about.js') }}"></script>
</body>
</html>

